name: Build and deploy Powershell project to Azure Function App - cipps5nma

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: deploy-cipps5nma
  cancel-in-progress: true

env:
  AZURE_FUNCTIONAPP_NAME: cipps5nma
  AZURE_FUNCTIONAPP_PACKAGE_PATH: "."

jobs:
  deploy:
    runs-on: windows-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F724C3209ED74536ADA761B57F221344 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E914837EA2EE4AAAA08C557AE9635116 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3F5EFA68FECA48F78D2DBBCBEBBCC36B }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          slot-name: Production
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
